:root {
  --main-text-color: #434455;
  --title-text-color: #2e2f42;
  --sub-text-color: #ffffff;
  --main-background-color: #fff;
  --sub-background-color: #f4f4fd;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1158px;
  padding: 0 15px;
}

.menu-container {
  display: flex;
}

/* Logo */
.logo {
  color: var(--primary-brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.logo-studio {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

/* Menu */
.menu-container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.menu {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 76px;
}

.contacts-menu {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu-link {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-right: 40px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: inherit;
  margin-left: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-state-color);
}

/* First Section */
.hero-title {
  margin-top: 0;
  margin-bottom: 48;
  color: var(--sub-text-color);
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  text-align: center;
  width: 496px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}

.list-title {
  margin-top: 32px;
  margin-bottom: 8px;
  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  font-weight: 500;
  text-align: center;
}

.button {
  color: var(--sub-text-color);
  background-color: var(--primary-brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  font-family: Roboto, sans-serif; /* Добавил, как будто у меня нет нормалайз*/
  padding: 16px 32px;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--pressed-state-color);
}

.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 472px;
  display: flex;
}

/* Second Section */
.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-text {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 32px;
}

.team-item {
  background-color: #fff;
}

.section-advantages,
.section-portfolio {
  padding: 120px 156px;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  margin-right: 24px;
  width: calc((100%-3 * 24) / 4);
}

.team-list {
  display: flex;
}

.team-item {
  width: calc((100%-3 * 24) / 4);
  margin-right: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-item .list-title,
.portfolio-item .section-text {
  text-align: left;
  padding: 0 16px;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  color: var(--sub-background-color);
  padding-top: 101.5px;
  padding-bottom: 100px;
}

.logo-studio-footer {
  color: var(--sub-background-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-footer {
  margin-top: 17.5px;
  margin-bottom: 0;
  color: var(--sub-background-color);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 264px;
}
